# Task 2: Pandas & NumPy Execution Task

This notebook demonstrates the use of Pandas and NumPy to:
- Generate a CSV dataset with more than 500 rows
- Load and explore the dataset
- Create calculated columns
- Filter data using conditions
- Perform group-by operations

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)

rows = 600

cities = [
    "Delhi", "Mumbai", "Pune", "Chennai", "Bangalore",
    "Hyderabad", "Kolkata", "Ahmedabad", "Jaipur", "Indore",
    "Surat", "Vadodara", "Nagpur", "Bhopal", "Lucknow",
    "Kanpur", "Patna", "Ranchi", "Raipur", "Bhubaneswar"
]

food_types = [
    "Veg",
    "Non-Veg",
    "Beverage",
    "Dessert",
    "Fast Food",
    "Street Food",
    "Bakery",
    "South Indian",
    "North Indian",
    "Chinese",
    "Italian",
    "Mexican",
    "Mughlai",
    "Seafood",
    "BBQ",
    "Vegan",
    "Cafe",
    "Ice Cream"
]

data = {
    "Order_ID": range(1, rows + 1),
    "City": np.random.choice(cities, rows),
    "Food_Type": np.random.choice(food_types, rows),
    "Quantity": np.random.randint(1, 10, rows),
    "Unit_Price": np.random.randint(50, 300, rows),
    "Rating": np.round(np.random.uniform(5, 10, rows), 1)
}

df = pd.DataFrame(data)

df.to_csv("food_orders.csv", index=False)


df.head()

   Order_ID         City  Food_Type  Quantity  Unit_Price  Rating
0         1      Kolkata    Chinese         2         237     5.0
1         2  Bhubaneswar  Ice Cream         7          95     8.8
2         3      Lucknow    Mughlai         3          68     5.2
3         4        Surat  Fast Food         2         117     8.7
4         5    Ahmedabad        Veg         7         267     6.0

### Load CSV File and Display Basic Information

In [5]:
df = pd.read_csv("food_orders.csv")
df.shape

(600, 6)

In [6]:
df.head(10)

   Order_ID         City  Food_Type  Quantity  Unit_Price  Rating
0         1      Kolkata    Chinese         2         237     5.0
1         2  Bhubaneswar  Ice Cream         7          95     8.8
2         3      Lucknow    Mughlai         3          68     5.2
3         4        Surat  Fast Food         2         117     8.7
4         5    Ahmedabad        Veg         7         267     6.0
5         6      Kolkata        Veg         2         151     9.8
6         7       Raipur  Ice Cream         3          91     6.8
7         8        Surat        BBQ         7          81     6.6
8         9        Surat       Cafe         4         216     5.7
9        10      Chennai    Italian         1         158     6.5

In [7]:
df.tail(10)

     Order_ID       City  Food_Type  Quantity  Unit_Price  Rating
590       591     Kanpur        BBQ         7         280     6.0
591       592     Nagpur       Cafe         5         268     8.8
592       593     Bhopal    Dessert         2         204     6.9
593       594       Pune    Mughlai         3         115     7.6
594       595  Hyderabad  Ice Cream         6         218     7.5
595       596     Ranchi        Veg         7         161     7.9
596       597     Raipur      Vegan         9          62     9.3
597       598  Bangalore    Mughlai         1         186     9.9
598       599    Lucknow    Chinese         7         293     7.0
599       600     Mumbai    Mexican         8         213     9.1

In [8]:
df.shape

(600, 6)

### Create 3 Calculated Columns

Three calculated columns were created to enhance the analytical depth of the dataset:
- Order_Value – Total revenue per order.
- Value_for_Money_Index – Customer satisfaction relative to price.
- Demand_Intensity_Score – Combines quantity and rating to gauge demand.

These features allow better analysis of revenue, satisfaction, and demand patterns.

In [10]:
df["Order_Value"] = df["Quantity"] * df["Unit_Price"]

df["Value_for_Money_Index"] = df["Rating"] / df["Unit_Price"]

df["Demand_Intensity_Score"] = df["Quantity"] * df["Rating"]

In [11]:
# First 10 rows
df.head(10)

,Order_ID,City,Food_Type,Quantity,Unit_Price,Rating,Order_Value,Value_for_Money_Index,Demand_Intensity_Score
0,1,Kolkata,Chinese,2,237,5.0,474,0.021097,10.0
1,2,Bhubaneswar,Ice Cream,7,95,8.8,665,0.092632,61.6
2,3,Lucknow,Mughlai,3,68,5.2,204,0.076471,15.6
3,4,Surat,Fast Food,2,117,8.7,234,0.074359,17.4
4,5,Ahmedabad,Veg,7,267,6.0,1869,0.022472,42.0
5,6,Kolkata,Veg,2,151,9.8,302,0.064901,19.6
6,7,Raipur,Ice Cream,3,91,6.8,273,0.074725,20.4
7,8,Surat,BBQ,7,81,6.6,567,0.081481,46.2
8,9,Surat,Cafe,4,216,5.7,864,0.026389,22.8
9,10,Chennai,Italian,1,158,6.5,158,0.041139,6.5

In [12]:
df.tail(10)

,Order_ID,City,Food_Type,Quantity,Unit_Price,Rating,Order_Value,Value_for_Money_Index,Demand_Intensity_Score
590,591,Kanpur,BBQ,7,280,6.0,1960,0.021429,42.0
591,592,Nagpur,Cafe,5,268,8.8,1340,0.032836,44.0
592,593,Bhopal,Dessert,2,204,6.9,408,0.033824,13.8
593,594,Pune,Mughlai,3,115,7.6,345,0.066087,22.8
594,595,Hyderabad,Ice Cream,6,218,7.5,1308,0.034404,45.0
595,596,Ranchi,Veg,7,161,7.9,1127,0.049068,55.3
596,597,Raipur,Vegan,9,62,9.3,558,0.150000,83.7
597,598,Bangalore,Mughlai,1,186,9.9,186,0.053226,9.9
598,599,Lucknow,Chinese,7,293,7.0,2051,0.023891,49.0
599,600,Mumbai,Mexican,8,213,9.1,1704,0.042723,72.8

In [13]:
df.shape

(600, 9)

### Filter Rows Using Two Conditions (Value Perception & Demand Intensity)

The dataset was filtered to identify high-impact orders by applying two analytical conditions.
Orders with a **Value for Money Index above the median** and a **Demand Intensity Score above the median** were selected.
This data-driven approach helps focus the analysis on transactions that deliver strong customer value and exhibit higher demand.

In [14]:
filtered_df = df[
    (df["Value_for_Money_Index"] > df["Value_for_Money_Index"].median()) &
    (df["Demand_Intensity_Score"] > df["Demand_Intensity_Score"].median())
]

In [15]:
filtered_df.head()

,Order_ID,City,Food_Type,Quantity,Unit_Price,Rating,Order_Value,Value_for_Money_Index,Demand_Intensity_Score
1,2,Bhubaneswar,Ice Cream,7,95,8.8,665,0.092632,61.6
7,8,Surat,BBQ,7,81,6.6,567,0.081481,46.2
11,12,Pune,Mughlai,9,85,10.0,765,0.117647,90.0
14,15,Hyderabad,North Indian,9,146,8.6,1314,0.058904,77.4
15,16,Mumbai,Beverage,7,213,9.4,1491,0.044131,65.8

### Group Data by One Column and Calculate Mean & Count

We grouped the data by `Food_Type` and calculated the average order value and total orders.
A new `Summary` column combines both metrics for a clear, quick overview.

In [16]:
# Group by 'Food_Type' and calculate mean & count for Order_Value
grouped = df.groupby('Food_Type')['Order_Value'].agg(['mean', 'count'])

# Create a new column that summarizes both metrics
grouped['Summary'] = grouped.apply(lambda x: f"Avg: {x['mean']:.2f}, Orders: {x['count']}", axis=1)

# Display
print(grouped)

                    mean  count                    Summary
Food_Type
BBQ           921.142857     42  Avg: 921.14, Orders: 42.0
Bakery        836.259259     27  Avg: 836.26, Orders: 27.0
Beverage      852.633333     30  Avg: 852.63, Orders: 30.0
Cafe          988.363636     44  Avg: 988.36, Orders: 44.0
Chinese       727.031250     32  Avg: 727.03, Orders: 32.0
Dessert       763.354839     31  Avg: 763.35, Orders: 31.0
Fast Food     740.857143     42  Avg: 740.86, Orders: 42.0
Ice Cream     896.862069     29  Avg: 896.86, Orders: 29.0
Italian       966.457143     35  Avg: 966.46, Orders: 35.0
Mexican       855.103448     29  Avg: 855.10, Orders: 29.0
Mughlai       761.033333     30  Avg: 761.03, Orders: 30.0
Non-Veg       942.615385     39  Avg: 942.62, Orders: 39.0
North Indian  971.000000     26  Avg: 971.00, Orders: 26.0
Seafood       940.766667     30  Avg: 940.77, Orders: 30.0
South Indian  972.928571     42  Avg: 972.93, Orders: 42.0
Street Food   846.250000     36  Avg: 846.25, Orders: 36.0
Veg           896.846154     39  Avg: 896.85, Orders: 39.0
Vegan         780.294118     17  Avg: 780.29, Orders: 17.0